Theaters{
    margin: 10px;
    background-color: lightgray;
    
}

Header{
    font-size: 30pt;
    color: red;
    display: block;
}

Subtitle{
    font-size: 15pt;
}

Theater{
     
    margin:20pt;
    padding: 40pt;
}

Name{
    font-size: 25pt;
    display: block;
    color: blue;
}
Address{
    display: block;
}

Movie{
    border: 3px solid black;
    display:block;
color:#0b2161;
margin:15pt;
/* margin-right: 15pt; */
font-size:15pt;
}

Schedule{
    display: block;
}